<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="TalkingData" 
        version="4.0.0">
    
    <name>TalkingData</name>
    
    <js-module src="www/TalkingData.js" name="TalkingData">
        <clobbers target="TalkingData" />
    </js-module>
    <js-module src="www/TalkingDataOrder.js" name="TalkingDataOrder">
        <clobbers target="TalkingDataOrder" />
    </js-module>
    <js-module src="www/TalkingDataShoppingCart.js" name="TalkingDataShoppingCart">
        <clobbers target="TalkingDataShoppingCart" />
    </js-module>
    <js-module src="www/TalkingDataEAuth.js" name="TalkingDataEAuth">
        <clobbers target="TalkingDataEAuth" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        
        <header-file src="src/ios/TalkingDataEAuth.h" />
        <header-file src="src/ios/TalkingDataEAuthPlugin.h" />
        <source-file src="src/ios/TalkingDataEAuthPlugin.m" />
        <header-file src="src/ios/TalkingDataPlugin.h" />
        <source-file src="src/ios/TalkingDataPlugin.m" />
        <header-file src="src/ios/TalkingData.h" />
        <source-file src="src/ios/libTalkingData.a" framework="true" />
        
        <config-file target="config.xml" parent="/widget/plugins">
            <feature name="TalkingData">
                <param name="ios-package" value="TalkingDataPlugin"/>
            </feature>
            <feature name="TalkingDataEAuth">
                <param name="ios-package" value="TalkingDataEAuthPlugin"/>
            </feature>
        </config-file>
        
        <framework src="CoreMotion.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="AdSupport.framework" />
        <framework src="libz.tbd" />
        <framework src="libc++.tbd" />
        
    </platform>
    
    <!-- android -->
    <platform name="android">
        
        <source-file src="src/android/TalkingData.jar" target-dir="app/src/main/libs" />
        <source-file src="src/android/TalkingDataPlugin.java" target-dir="src/com/talkingdata/analytics" />
        <source-file src="src/android/TalkingDataEAuthPlugin.java" target-dir="src/com/talkingdata/analytics" />
        
        <config-file target="res/xml/config.xml" parent="/widget/plugins">
            <feature name="TalkingData">
                <param name="android-package" value="com.talkingdata.analytics.TalkingDataPlugin"/>
            </feature>
            <feature name="TalkingDataEAuth">
                <param name="android-package" value="com.talkingdata.analytics.TalkingDataEAuthPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        
    </platform>
    
</plugin>
